{% extends 'base.html' %} {% block body %}
<div class="container">
  <h1 class="my-3">Dogs list</h1>
  <a href="{% url 'index' %}">Add dog</a>
  {% for dog in dogs %}
  <div class="card mt-3" style="width: 18rem">
    <img src="{{ dog.image.url }}" class="card-img-top" alt="{{ dog.name }}" />
    <div class="card-body">
      <p class="card-text fw-bold">{{ dog.name }}</p>
      <p>Size (bytes): {{ dog.image.size }}</p>
      <p>Width: {{ dog.image.width }}</p>
      <p>Height: {{ dog.image.height }}</p>
      <a href="{% url 'delete' dog.pk %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}
